/* WeatherForm.css */
.weather-form {
  background: transparent;
  text-align: center; /* Center the input and button */
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%; /* Expand the input to fill the parent container */
  padding: 10px;
  background: transparent;
  border: 2px solid #fff; /* Add a white border */
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

.search-input::placeholder {
  color: #fff; /* Set the placeholder text color to white */
}

.btn-primary {
  border: 2px solid #fff; /* Add a white border to the button */
  background: transparent;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition for hover effect */
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

/* Optionally, style the search icon inside the button */
.btn-primary .fas.fa-search {
  font-size: 20px;
  margin-right: 5px;
}
