/* WeatherInfo.css */
.weather-info {
  /* Remove background color */
  background: transparent;
}

.weather-card {
  /* Remove background color */
  background: transparent;
}

.card-title,
.card-text {
  /* Set text color to white */
  color: white;
}

/* Optionally, you can remove the card borders as well */
.weather-card.card {
  border: none;
}

/* Optionally, you can style the clock icon and time color */
.clock {
  color: white;
}

/* Optionally, style the error message text */
.error {
  color: red; /* Or your desired color for error messages */
}
.temperature {
  text-align: center;
  color: #fff;
}

.big-temp {
  font-size: 3rem; /* Adjust the size as needed */
  font-weight: bold;
  margin: 0; /* Remove any default margins */
}
.d-flex.justify-content-between {
  margin-top: 20px; /* Adjust the margin as needed */
}
.description-humidity {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust the margin as needed */
}
/* WeatherInfo.css */
.centered-icon {
  display: flex;
  color: rgb(255, 167, 3);
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}
